.temp-page-container {
    border: 1px solid wheat;
    background-color: wheat;
    width: 100%;
    height: 100vh;
}

.temp-page-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.temp-page-container .wip-container {
    position: relative;
}

.wip-container label {
    font-size: 20px;
}

.wip-image {
  max-width: 100%;
  height: auto;
  border-radius: 15px;;
}

.wip-note {
    position: absolute;
    color: brown;
    bottom: 10px;
    text-align: center;
    left: 15px;;
}